body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 20px auto;
  max-width: 1080px;
  width: 100%; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"], input[type="password"], textarea{
  padding: 0;
  box-sizing: border-box;
}
a{
  color: black !important;
  text-decoration: none !important;
}
ul{
  padding-left: 0px;
  margin: 10px 0;
}
li{
  list-style: none;
  padding: 0;
}

.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-5{
  margin-top: 5px;
}
.mb-5{
  margin-bottom: 5px;
}
.text-blue{
  color: blue;
}
.font-15{
  font-size: 15px;
}
.float-right{
  float: right !important;
}
.float-left{
  float: left !important;
}

.text-center{
  text-align: center;
}

.display-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.display-none{
  display: none;
}

.active-tab{
  background-color: gray;
  color: white;
  font-weight: bold;
}

.active-menu{
  color: blue;
  font-weight: bold;
}

.common-btn-style{
  width: 100%;
}

.main-content{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
