body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"], input[type="password"], textarea{
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  padding-left: 0px;
  text-align: right;
  margin: 10px 0;
}
li{
  list-style: none;
  padding: 0;
}

.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-5{
  margin-top: 5px;
}
.mb-5{
  margin-bottom: 5px;
}
.text-blue{
  color: blue;
}
.font-15{
  font-size: 15px;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}

.display-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.display-none{
  display: none;
}

.grid-container{
  display: grid;
  grid-template-areas: 
    "header header"
    "  a     main ";
  grid-template-columns: 200px 1fr;
}

.grid-container > .header {
  grid-area: header; width: 100%; height: 150px;
  
}
.grid-container > .sidebar-a {grid-area: a; width: 100%; height: 600px;}
.grid-container > .main-content {grid-area: main; background-color: yellow; width: 100%; height: 600px;}